node_modules/
.pnpm-store/

# Prisma
/src/generated/prisma

# Environment
.env
.env.*
!.env.example

# SQLite
prisma/dev.db
prisma/dev.db-journal

# Uploads
uploads/productos/*
!uploads/productos/.gitkeep

uploads/facturas/*
!uploads/facturas/.gitkeep